<div class="custom-card image-editor-container">
  <div class="grid grid-cols-3 mt-6">
    <div class="flex text-left">
      <p-fileUpload
        mode="basic"
        name="imageUpload"
        accept="image/*"
        [maxFileSize]="5000000"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="onFileSelected($event)"
        chooseLabel="Upload Image"
        class="file-input"
      >
      </p-fileUpload>
      <span
        class="ml-2 text-gray-500 flex items-center"
        *ngIf="originalFilename"
      >
        {{ getDisplayFilename() }}
      </span>
    </div>
    <div class="text-center">
      <p-inputnumber
        class="font-size-input mr-2"
        [suffix]="fontSettingConst.FONT_UNIT"
        [(ngModel)]="fontSize"
        (ngModelChange)="updateFontSize()"
        [showButtons]="true"
        [min]="0"
        [max]="100"
      />
      <p-colorPicker
        class="color-picker mr-8"
        [(ngModel)]="selectedColor"
        (onChange)="updateColor(selectedColor)"
        (onShow)="onColorPickerOpen()"
        (onHide)="onColorPickerClose()"
      />
      <p-button
        class="mr-2"
        icon="pi pi-check"
        [severity]="
          activeButton === buttonTypeConst.CHECK ? 'success' : 'secondary'
        "
        [raised]="activeButton === buttonTypeConst.CHECK"
        [plain]="
          activeButton !== null && activeButton !== buttonTypeConst.CHECK
        "
        (click)="selectText(textSymbolConst.CHECK, textColorConst.CHECK)"
      />
      <p-button
        class="mr-2"
        icon="pi pi-times"
        [severity]="activeButton === buttonTypeConst.X ? 'danger' : 'secondary'"
        [raised]="activeButton === buttonTypeConst.X"
        [plain]="activeButton !== null && activeButton !== buttonTypeConst.X"
        (click)="selectText(textSymbolConst.X, textColorConst.X)"
      />
      <p-button
        class="mr-2"
        icon="pi pi-pencil"
        [severity]="
          activeButton === buttonTypeConst.FREE_TEXT ? 'info' : 'secondary'
        "
        [raised]="activeButton === buttonTypeConst.FREE_TEXT"
        [plain]="
          activeButton !== null && activeButton !== buttonTypeConst.FREE_TEXT
        "
        (click)="enableCustomTextMode()"
      />
      <p-button
        class="mr-8"
        icon="pi pi-stop"
        [severity]="
          activeButton === buttonTypeConst.SQUARE ? 'warn' : 'secondary'
        "
        [raised]="activeButton === buttonTypeConst.SQUARE"
        [plain]="
          activeButton !== null && activeButton !== buttonTypeConst.SQUARE
        "
        (click)="enableSquareMode(textColorConst.SQUARE)"
      />
      <p-button
        class="mr-2"
        icon="pi pi-chevron-left"
        [outlined]="true"
        (click)="undo(); $event.stopPropagation()"
      />
      <p-button
        class="mr-8"
        icon="pi pi-chevron-right"
        [outlined]="true"
        (click)="redo(); $event.stopPropagation()"
      />
      <p-button
        icon="pi pi-trash"
        pTooltip="Click at the start of text to delete it - especially important for long text elements"
        tooltipPosition="right"
        [severity]="
          activeButton === buttonTypeConst.DELETE ? 'primary' : 'secondary'
        "
        [raised]="activeButton === buttonTypeConst.DELETE"
        [plain]="
          activeButton !== null && activeButton !== buttonTypeConst.DELETE
        "
        (click)="toggleDeleteMode()"
      />
    </div>
    <div class="text-right">
      <p-button
        label="Export Image"
        icon="pi pi-download"
        severity="help"
        [raised]="true"
        (click)="exportImage()"
      />
    </div>
  </div>

  <div class="editor-wrapper">
    <div class="canvas-container">
      <canvas #canvas (click)="onCanvasClick($event)"></canvas>
    </div>
  </div>

  <p-dialog
    header="Enter Custom Text"
    [closable]="false"
    [(visible)]="showTextDialog"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <form>
      <input
        *ngIf="showTextDialog"
        class="w-full"
        type="text"
        pInputText
        name="customTextInput"
        autocomplete="off"
        [(ngModel)]="customTextInput"
        [pAutoFocus]="true"
        placeholder="Enter text to insert"
      />
      <div class="flex justify-end gap-2 mt-6">
        <app-save-cancel
          saveButtonLabel="Insert"
          saveButtonType="submit"
          (save)="confirmTextInput()"
          (cancel)="cancelTextInput()"
        ></app-save-cancel>
      </div>
    </form>
  </p-dialog>
</div>
