@use "primeicons/primeicons.css";
@use "tailwindcss";
@plugin "tailwindcss-primeui";

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
}
